################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MyFirstGitHubRepoVs19/.vs/MyFirstGitHubRepoVs19
/MyFirstGitHubRepoVs19/MyFirstGitHubRepoVs19/bin/Debug/netcoreapp3.1
/MyFirstGitHubRepoVs19/MyFirstGitHubRepoVs19/obj
